body
{
}

.FromContent
{
	font-family:Verdana;
	font-size:15px;
	font-weight:bold;
	color:Red;
}
.DesignersContent
{
	font-family:Verdana;
	font-size:12px;
	font-weight:normal;
}

.CustomFacilityHeading
{
	font-family:Verdana;
	font-size:10px;
	font-weight:bold;
	color:Red;
}
.CustomFacilityBody
{
	font-family:Verdana;
	font-size:10px;
	font-weight:normal;
	color:Red;
}

.OneStopContent
{
	font-family:Verdana;
	font-size:16px;
	font-weight:bold;
	
	color:#2e4a60;
}

.OneStopBody
{
	font-family:Verdana;
	font-size:11px;
	font-weight:normal;
}

.OfferContent
{
	font-family:Verdana;
	font-size:15px;
	font-style:italic;
	font-weight:bold;
	color:#2e4a60;
}

.OfferBody
{
	font-family:Verdana;
	font-size:11px;
	font-weight:normal;
	color:#2e4a60;
}
.copywrightcontent
{
	font-family:Verdana;
	font-weight:normal;
	font-size:10px;
	color:Gray;
}

.mailcontent
{
	color:White;
}
pre
{
	width:10px;
}

.childhlink
{
	color:Gray;
	font-size:8pt;
	font-family:Arial;
}
.parenthlink
{
	color:#2e4a60;
	font-weight:bold;
	font-size:12px;
	font-family:Arial;
}
.table
{
	padding:0px;
	margin:0px;
}