body
{
	BACKGROUND-COLOR: white;
}
image
{
	cursor:pointer;
}
.HyperLink
{
	font-size: 7pt;
	font-family: Verdana;
	color :White;

}
.HyperLink2
{
	font-size: 8pt;
	font-family: Verdana;
	text-decoration:underline;
	color:Blue;

}
.HyperLink3
{
	font-size: 11pt;
	font-family: Verdana;
	color :Red;

}
#lbtnLogOut
{
	font-size: 8pt;
	font-family: Verdana;
}

.Label
{
	font-size: 7pt;
	font-family: Verdana;
}
.TextBox
{
	font-size: 7pt;
	font-family: Verdana;
}
.TextBox2
{
	font-size: 8pt;
	font-family: Verdana;
	width:135pt;
}
.Button
{
	font-size: 7pt;
	font-family: Verdana;
}

.GridView
{
	font-size: 7pt;
	font-family: Verdana;
}
.Heading
{
	font-size:12pt;
	font-family:Verdana;
	font-weight:bold;
}
.Heading2
{
	font-size:11pt;
	font-family:Verdana;
	font-weight:bold;
}
.Content
{
	font-size:10pt;
	font-family:Verdana;
}
 .td
        {
            font-size: 7pt;
	        font-family: Verdana;
        }

td
{
	font-size: 10pt;
	font-family: Verdana;
}

#gvLinks
{
	font-size: 9pt;
	font-family: Verdana;

}

.container 
{
	position:relative;
	width:100%;
	Height:375px;
	overflow:auto;
	background-color:#e9eaec;
	border:solid 1px black;
	margin-top:6px;
}
.container table 
{
	border-width: 0px 1px 1px 1px;
	font-size:10pt;
	font-family:Verdana;
}
.container table th 
{
	position:relative; 
	border-width: 0px 1px 1px 1px;
    border-style: solid; 
    border-color:Black White Black #336699; 
	top: expression(this.offsetParent.scrollTop);
	z-index: 1;	
}
.bodyBackground 
{
	background-color:Gray;
	filter:alpha(opacity=50);
	opacity:.5;
}
.HeaderStyle
{
	font-weight:bold;
	color:White;
	background-color:#9CAEBD;
	text-decoration:underline;
	vertical-align:bottom;
}
    .RegionalManagerForm
{
	width:555px;
}
.inputBackColor
{
	background-color: AntiqueWhite;
}
.GeneralTextBox2
{
	border: solid 1px gray;
	width:120pt;
}
.GeneralTextBox3
{
	border: solid 1px gray;
	width:123pt;
}
.GeneralLabel5
{
	font-size: 9pt;  	
	font-family: Verdana;
}
.colorRed
{
	color:Red;
}

.colorRedDark
{
	color:#990000;
}
.colorWhite
{
	color:white;
}
.colorBackgroundBlack
{
	background-color:Black;
}

        .floatLeft
{
	float:left;
}
.paddingLeft5
{
	padding-left:5px;
}

.paddingTop5
{
	padding-top:5px;
}

.paddingTop40
{
	padding-top:40px;
}

.paddingBottom4
{
	padding-bottom:4px;
}
.col_width_245
{ 
	width: 180px; 
} 

.col_width_195
{ 
	width: 195px; 
} 

.col_width_160
{ 
	width: 150px; 
} 
.alignRight
{
	text-align:right;
}
.GeneralLabel
{
	font-size: 10pt;  	
	font-family: Verdana;
}
.padding
{
	padding:5px 5px 5px 5px;
}
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}
.alignCenter
{
	text-align:center !important;
}
.ButtonEmailMe a
        {
	        background:url(../Images/button_red.png) no-repeat;
	        padding:3px 0 0 1px;
	        color:white;
	        font-weight:bold;
	        font-size:9px;
	        width:81px;
	        height:19px !important;
	
        }
        .ButtonEmailMe a:hover
        {
	        background:url(../Images/button_red_on.png) no-repeat;
	        padding:3px 0 0 1px;
	        color:white;
	        font-weight:bold;
	        font-size:9px;
	        width:81px;
	        height:19px !important;
        }
        
        
/*  Style tags for NEW login button */
h1{padding-bottom:50px;text-decoration:	underline;text-align:center;}
#container{width:100%;  margin:0; padding:0;font-Size:14px;font-family: Arial;}
.login_contents{width:300px; margin:0 auto;}
.login_contents2{width:500px; margin:0 auto;margin-bottom:10px;}
.login{float:left;width:300px; background-color:#eff0f3;text-align:left;  }
.border{border:solid 1px gray;}
.padding_top_bottom{padding-top:5px;padding-bottom:5px;}
.padding2{padding:15px 15px 15px 15px;}
.inputBox{width:200px; height:20px; font-size:14px; border:#d9d9d9 solid 1px;padding:5px 5px 5px 5px;}
.button_Login{display:inline-block;padding:4px 12px;margin-bottom:0;line-height:20px;border-color: #0044cc #0044cc #002a80;text-align:center;text-shadow:0 1px 1px rgba(255,255,255,0.75);vertical-align:middle;cursor:pointer;background-color:#006dcc;color: #ffffff;}
.button_Login:hover{background-color: #003bb3;}
.NoticeMessage, .ErrorMessage{margin-top: 10px !important; 	padding: 10px 0px 10px 15px !important;	width:550px;}
.ErrorMessage2{margin-top:100px;display:none;}

.link-list {
    width: 450px;
}

.button {
    display: inline-block;
    height: 30px;
    width: 200px;
    line-height: 30px;
    text-align: center;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin-right:5px;
    margin-bottom:5px;
    text-decoration: none;
}

.site-link {
    background-color: #22313F;  
    color: white;
    overflow: hidden; 
}
        
.site-link:hover {
    background-color: #3d5871 ;
}

.site-link-table {
    margin-bottom: 15px;
}

.administrative-button {
    background-color: #3d7170;
    color: white;
}

.administrative-button:hover {
    background-color: #58a3a1;
}

.Label {
    font-weight: bold;
}

.home-button {
    background-color: #3d7170;
    color: white;
    font-size: 12px;
}

.home-button:hover {
    background-color: #58a3a1;
}

.log-out-button {
    background-color: #bf2718;
    color: white;
    font-size: 12px;
}

.log-out-button:hover {
    background-color: #e43726;
}

.modify-user-button {
    background-color: #22313F;  
    color: white;
    font-size: 12px;
}

.view-users-button {
    background-color: #22313F;  
    color: white;
    font-size: 12px;
}

.search-button {
    background-color: #3d7170;
    color: white;
    margin-left: 10px;
    height: 25px;
    width: 125px;
    line-height: 25px;
}

.excel-button, .submit-button {
    background-color: #3d7170;
    color: white;
    font-size: 12px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.excel-button:hover, .submit-button:hover {
    background-color: #58a3a1;
}

input[type='text'], input[type='password']
{
width: 200px;
height: 29px;
border-radius: 3px;
border: 1px solid #CCC;
padding: 8px;
font-weight: 200;
font-size: 15px;
font-family: Verdana;
box-shadow: 1px 1px 5px #CCC;
}

input[type='text']:hover, input[type='password']:hover
{
width: 200px;
height: 29px;
border-radius: 3px;
border: 1px solid #aaa;
padding: 8px;
font-weight: 200;
font-size: 15px;
font-family: Verdana;
box-shadow: 1px 1px 5px #CCC;
}

select
{
width: 200px;
height: 29px;
border-radius: 3px;
border: 1px solid #CCC;
font-weight: 200;
font-size: 15px;
font-family: Verdana;
box-shadow: 1px 1px 5px #CCC;
}

select:hover
{
width: 200px;
height: 29px;
border-radius: 3px;
border: 1px solid #CCC;
font-weight: 200;
font-size: 15px;
font-family: Verdana;
box-shadow: 1px 1px 5px #CCC;
}