﻿body,td,div,.p,a,.d,.s{font-family:verdana,sans-serif}
/*body,td,div,.p,a,.d{font-size: }*/
body,div,td,.p,.s{color:#000000}
body,.d,.p,.s{background-color:#ffffff}
.s{font-size: 80%}
.g{margin-top: 1em; margin-bottom: 0em; padding: 0px;}
.s div{width:34em; margin:0px; padding: 0px; }
.g a{margin:0px; padding: 0px;}
/*.l{font-size: }*/
.l{color: #0000cc; margin-top: 1em; margin-bottom: 1em;}
a:link,.w,.w a:link{color:#0000cc}
.f,.f:link,.f a:link{color:#7777cc}
a:visited,.f a:visited{color:#551a8b}
a:active,.f a:active{color:#ff0000}

.t{color:#000000}
.t{background-color:#ffffff}
.z{display:none}
.i,.i:link{color:#a90a08}
.a,.a:link{color:#008000}
div.n {margin-top: 1ex}
.n a{font-size: 10pt; color:#000000}
.n .i{font-size: 10pt; font-weight:bold}
.q a:visited,.q a:link,.q a:active,.q {color:#0000cc;}
.b,.b a{font-size: 12pt; color:#0000cc; font-weight:bold}
.d{margin-right:1em; margin-left:1em;}
div.oneboxResults {margin-top: 1em;}

div.personalization {font-size:84%;padding: 0 0 4px;}

/**
 * Cascading Style Sheet for GSA Suggest.
 */

/* Classes for suggestion box */
/*
.ss-gac-m {
  background: white;
  border: 1px solid black;
  cursor: default;
  font-size: 13px;
  line-height: 17px;
  margin: 0;
  position: absolute;
  z-index: 99;
}

.ss-gac-b {
  background: #36c;
  color: white;
}

.ss-gac-c {
  overflow: hidden;
  padding-left: 3px;
  text-align: left;
  white-space: nowrap;
}

.ss-gac-d {
  color: green;
  font-size: 10px;
  overflow: hidden;
  padding: 0 3px;
  text-align: right;
  white-space: nowrap;
}

.ss-gac-b td {
  color: white;
}

.ss-gac-e td {
  font-size: 10px;
  line-height: 15px;
  padding: 0 3px 2px;
  text-align: right;
}

.ss-gac-e span {
  color: #00c;
  cursor:pointer;
  text-decoration: underline;
}

// Debug console 

div#ss_debug_console {
  background: #ffefef;
  border: 1px solid #cf7f7f;
  bottom: 2%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 83%;
  height: 60%;
  left: 5%;
  opacity: 0.95;
  overflow: auto;
  padding: 0.5em;
  position: absolute;
  width: 90%;
  z-index: 5000;
}

div#ss_debug_console.expanded {
  height: 60%;
}

div#ss_debug_console.contracted {
  height: 8%;
}

div#ss_debug_console h1 {
  color: #af0000;
  display: inline;
  font-size: 100%;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

div#ss_debug_console button {
  margin: 0em 0.5em;
}

div#ss_debug_console table {
  border-collapse: collapse;
  font-size: 90%;
  line-height: 120%;
  margin-top: 1em;
}

div#ss_debug_console table th {
  padding: 0.2em 1em;
  text-align: left;
}

div#ss_debug_console table td {
  border-top: 1px solid #cf7f7f;
  padding: 0.2em 1em;
}

div#ss_debug_console table td.no {
  text-align: right;
}

  // Common CSS for sidebar elements. 
  .sb-r {
    padding: 5px 0 0 5px;
    width: 45%;
  }
  .sb-r-alt {
    padding-top: 5px;
    width: 100%;
  }
  .sb-r-lbl,
  .sb-r-lbl-apps {
    color: #676767;
    font-size: small;
    font-weight: normal;
    margin: 0 0 10px 10px;
    text-align: left;
  }
  .sb-r-lbl-apps {
    margin: 0;
  }
  .sb-r-border {
    border-left: 1px solid #C9D7F1;
  }
  .sb-r-ld-msg-c {
    margin-bottom: 30px;
  }
  .sb-r-ld-msg {
    background-color: #3366CC;
    color: #FFF;
    font-size: 13px;
    padding: 2px;
  }
  .sb-r-res {
    font-size: 13px;
    margin-bottom: 10px;
    margin-left: 10px;
  }
*/