iframe.skm {position:absolute;top:0px;left:0px;display:none;}

td.skmcur{cursor:hand;}

.MenuLinkColor {
	color: red;
	text-decoration:underline;	
}
.MenuLink {
	color: black;
	font-family: Verdana, Helvetica, sans-serif;
	text-decoration:none;
	text-indent:15pt;
	cursor:default ;
	width:144pt;
}
.MenuLink TD{
	height:20pt;
	width:144pt;
    font-size: 9pt !important;
}
.SubMenuLink {
	background-color: #3d7170;
	font-size: 8pt;
	color: white;
	font-family: Verdana, Helvetica, sans-serif;
	text-decoration: none;
	border:Solid 2pt black;
	text-indent:2pt;
	margin-left:1pt;
	width:255pt;	
}
.SubMenuLink TD 
{
	border:Solid 1px black;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	background-color: #3d7170;
	height:16pt;	
	cursor:default;
	width:255pt;	
	font-size: 8pt;
}

/* This will be for the main and sub menus */
.SelectedMenuItemLink {
	color:#afeeee;
    cursor: pointer !important;
	font-family: Verdana, Helvetica, sans-serif;
	text-decoration:none;
	background-color: #3d7170;
}




